<section class="flash-sales padding-section mb-0">
    <div class="title">
        <span class="banner-title"></span>
        <span class="highlight">Categories</span>
    </div>
    <div class="flash-sales-header">
        <h6>Browse By Category</h6>
    </div>
    <div class="category-list">
        <div class="category-card">
            <img src="assets/images/Category-CellPhone.svg" alt="HAVIT HV-G92 Gamepad">
            <h5 class="title">Phones</h5>
        </div>
        <div class="category-card">
            <img src="assets/images/Category-Computer.svg" alt="HAVIT HV-G92 Gamepad">
            <h5 class="title">Computers</h5>
        </div>
        <div class="category-card">
            <img src="assets/images/Category-SmartWatch.svg" alt="HAVIT HV-G92 Gamepad">
            <h5 class="title">SmartWatch</h5>
        </div>
        <div class="category-card">
            <img src="assets/images/Category-Camera.svg" alt="HAVIT HV-G92 Gamepad">
            <h5 class="title">Camera</h5>
        </div>
        <div class="category-card">
            <img src="assets/images/Category-Headphone.svg" alt="HAVIT HV-G92 Gamepad">
            <h5 class="title">HeadPhones</h5>
        </div>
        <div class="category-card">
            <img src="assets/images/Category-Gamepad.svg" alt="HAVIT HV-G92 Gamepad">
            <h5 class="title">Gaming</h5>
        </div>
    </div>
</section>