<section class="flash-sales">
    <div class="title">
        <span class="banner-title"></span>
        <span class="highlight">Today's</span>
    </div>
    <div class="flash-sales-header">
        <h6> Flash Sales</h6>
        <div class="timer">
            <div class="timer-count">
                <span class="label">Days</span>
                <span class="number">03</span>
                <div class="bollet">:</div>

            </div>
            <div class="timer-count">
                <span class="label">Hours</span>
                <span class="number">23</span>
                <div class="bollet">:</div>

            </div>
            <div class="timer-count">
                <div class="bollet">:</div>
                <span class="label">Minutes</span>
                <span class="number">19</span>
            </div>
            <div class="timer-count">
                <span class="label">Seconds</span>
                <span class="number">56</span>
            </div>
        </div>
    </div>
    <div class="product-grid">
        <div class="product-card">
            <div class="product-card-header">
                <div class="badge">-40%</div>
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 611.svg" alt="HAVIT HV-G92 Gamepad">
                <button class="add-to-cart">Add To Cart</button>

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card-header">
                <div class="badge">-40%</div>
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 612.svg" alt="HAVIT HV-G92 Gamepad">
                <button class="add-to-cart">Add To Cart</button>

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star-half-filled.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card-header">
                <div class="badge">-40%</div>
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 613.svg" alt="HAVIT HV-G92 Gamepad">
                <button class="add-to-cart">Add To Cart</button>

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/no-star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card-header">
                <div class="badge">-40%</div>
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 614.svg" alt="HAVIT HV-G92 Gamepad">
                <button class="add-to-cart">Add To Cart</button>

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/no-star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>
                </div>
            </div>
        </div>


    </div>

    <button class="view-all">View All Products</button>
</section>