<section class="hero">
    <div class="hero-category">
        <ul class="nav flex-column nav-parent">
            <li class="nav-item">
                <a class="nav-link accordion-trigger" data-bs-toggle="collapse" href="#woman-fashion" role="button"
                    aria-expanded="false" aria-controls="woman-fashion">
                    Woman's Fashion <img src="assets/images/dropdown.svg" alt="arrow">

                </a>
                <div class="collapse" id="woman-fashion">
                    <ul class="nav flex-column mt-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subcategory 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subcategory 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subcategory 3</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link accordion-trigger" data-bs-toggle="collapse" href="#men-fashion" role="button"
                    aria-expanded="false" aria-controls="men-fashion">
                    Men's Fashion <img src="assets/images/dropdown.svg" alt="arrow">
                </a>
                <div class="collapse" id="men-fashion">
                    <ul class="nav flex-column mt-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subcategory 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subcategory 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subcategory 3</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electronics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Home & Lifestyle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Medicine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sports & Outdoor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Baby's & Toys</a>
            </li>


        </ul>
    </div>
    <div class="hero-banner">
        <div class="banner">
            <div class="banner-content">
                <div class="d-flex gap-2 align-items-center">
                    <img src="assets/images/1200px-Apple_gray_logo 1.svg" alt="iPhone 14 Series">
                    <h2 class="text-white">iPhone 14 Series</h2>
                </div>
                <h3 class="text-white">Up to 10% off Voucher</h3>
                <a href="#" class="shop-now">Shop Now
                    <img src="assets/images/arrow-right.svg" alt="iPhone 14 Series">

                </a>
            </div>
            <div>
                <img src="assets/images/hero-bg.png" alt="iPhone 14 Series" class="img-fluid">

            </div>
        </div>
    </div>
</section>