<section class="flash-sales padding-section">
    <div class="title">
        <span class="banner-title"></span>
        <span class="highlight">This Month</span>
    </div>
    <div class="align-items-center flash-sales-header gap-0 justify-content-between">
        <h6>Best Selling Products</h6>
        <a class="view-all m-0">View All</a>

    </div>
    <div class="product-grid">
        <div class="product-card">
            <div class="product-card-header">
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 605.svg" alt="HAVIT HV-G92 Gamepad">

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card-header">
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 606 (1).svg" alt="HAVIT HV-G92 Gamepad">

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card-header">
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 610.svg" alt="HAVIT HV-G92 Gamepad">

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card-header">
                <div class="rate d-flex flex-column gap-1">
                    <div class="favorite-icon" [ngClass]="{'active': isFavorite}" (click)="toggleFavorite()">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </div>
                    <div class="eye-icon" [ngClass]="{'active': isFavorite}">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </div>
                </div>
                <img src="assets/images/Frame 615.svg" alt="HAVIT HV-G92 Gamepad">

            </div>
            <div class="product-info">
                <h4>HAVIT HV-G92 Gamepad</h4>
                <div class="price">
                    <span class="new-price">$120</span>
                    <span class="old-price">$160</span>
                </div>
                <div class="rating">
                    <div class="d-flex gap-1">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">
                        <img src="assets/images/star.svg" alt="HAVIT HV-G92 Gamepad">

                    </div>
                    <span> (88)</span>

                </div>
            </div>
        </div>


    </div>

</section>