<section class="padding-section">
    <div class="banner">
        <div>
            <span class="title">Categories</span>
            <h3 class="title-header">Enhance Your Music Experience</h3>
            <div class="time-banner">
                <div class="timing">
                    <h6>23</h6>
                    <span>Hours</span>
                </div>
                <div class="timing">
                    <h6>05</h6>
                    <span>Days</span>
                </div>
                <div class="timing">
                    <h6>59</h6>
                    <span>Minutes</span>
                </div>
                <div class="timing">
                    <h6>35</h6>
                    <span>Seconds</span>
                </div>
            </div>
            <button class="buy-now">Buy Now!</button>
        </div>
        <img src="assets/images/Frame 694.svg" alt="banner" class="img-fluid">

    </div>

</section>